<div class="container-main">
    <p>
        Contacto 
        <br><br><br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam hic dignissimos, 
        possimus qui nisi vitae sapiente vero iste assumenda doloribus fuga, iusto distinctio 
        adipisci. Tempora a doloremque debitis impedit? Nobis?
    </p>

    <div class="contenedor-form">
        <form action="">
            <label for="">Ingrese su nombre:</label>
            <input type="text" name="" #name>
            <br><br>

            <label for="">Ingrese su correo:</label>
            <input type="text" name="" #email>
            <br><br>

            <label for="">¿En que necesita ayuda?</label>
            <textarea type="" name="" #message></textarea>
            <br><br>

            <button (click)="saveContact(name, email, message)">Enviar</button>

        </form>
    </div>
</div>