<div class="container-main">
    <p>
        Cuenta-Personal
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam hic dignissimos, 
        possimus qui nisi vitae sapiente vero iste assumenda doloribus fuga, iusto distinctio 
        adipisci. Tempora a doloremque debitis impedit? Nobis?
    </p>

    <div class="contenedor-form">
        <form action="" class="form-account">
            <label for="">Ingrese su nombre:</label>
            <input type="text" name="" #name>
            <br><br>

            <label for="">Ingrese su correo:</label>
            <input type="text" name="" #email>
            <br><br>

            <label for="">Ingrese su contraseña: </label>
            <input type="password" name="" #password>
            <br><br>

            <button class="btn-cuenta" (click)="saveAccount(name, email, password)">Enviar</button>

        </form>
    </div>
</div>